@use './scss/variables' as *;
@use './scss/animation' as *;
@import "bootstrap/scss/bootstrap";

* {
    // font-family: 'Rowdies', cursive;
    // font-family: 'Montserrat', sans-serif;
}

h1,
h2 {
    font-family: 'Rubik Moonrocks', cursive;
    font-family: 'Modak', cursive;

}

h3,
h4,
h5,
h6 {
    font-family: 'Rowdies', cursive;
}

._my-title-works {
    font-family: 'Lobster', cursive;
    font-family: 'Rowdies', cursive;

}

#logo {
    font-family: 'Montserrat', sans-serif;
}