//------------------------------------------------
// Animation
//-------------------------------------------------

//classi
//.......................................
@keyframes appear {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

@keyframes loading {
    0% {
        rotate: 0deg
    }

    100% {
        rotate: 360deg;
    }
}

@keyframes moveCenterTop {
    0% {
        bottom: 0vh;
        opacity: 1;
    }

    50% {
        opacity: 0;
    }

    90% {
        bottom: 100vh;
        opacity: 0;
    }

    91% {
        bottom: 0vh;
        opacity: 1;
    }


    100% {
        bottom: 0vh;
        opacity: 1;
    }
}

@keyframes moveCenterBottom {
    0% {
        bottom: 0vh;
        opacity: 1;
    }

    50% {
        opacity: 0;
    }

    90% {
        bottom: -100vh;
    }

    91% {
        bottom: -0vh;
        opacity: 0
    }

    100% {
        bottom: 0vh;

    }
}

@keyframes moveBottomCenter {
    0% {
        bottom: -100vh;
        opacity: 0;
    }

    50% {
        opacity: 1;
    }

    90% {
        bottom: 0vh;
    }

    100% {
        bottom: 0vh;

    }
}

@keyframes moveTopCenter {
    0% {
        bottom: 100vh;
        opacity: 0;
    }

    50% {
        opacity: 1;
    }

    90% {
        bottom: 0vh;
    }

    100% {
        bottom: 0vh;

    }
}

@keyframes moveCenterLeft {
    0% {
        left: 0vw;
        opacity: 1;
    }

    50% {
        opacity: 0;
    }

    90% {
        left: -100vw;
        opacity: 0;
    }

    91% {
        left: 0vw;
        opacity: 1;
    }

    100% {
        left: 0vw;

    }
}

@keyframes moveCenterRight {
    0% {
        left: 0vw;
    }

    50% {
        opacity: 0;
    }

    90% {
        left: 100vw;
        opacity: 0;
    }

    91% {
        left: 0vw;
        opacity: 1;
    }

    100% {
        left: 0vw;

    }
}

@keyframes moveLeftCenter {
    0% {
        left: 100vw;
        opacity: 0;
    }

    50% {
        opacity: 1;
    }

    90% {
        left: 0vw;
    }

    100% {
        left: 0vw;

    }
}

@keyframes moveRightCenter {
    0% {
        left: -100vw;
        opacity: 0;
    }

    50% {
        opacity: 1;
    }

    90% {
        left: 0vw;
    }

    100% {
        left: 0vw;

    }
}

//---------------------------
//Background
@keyframes cerchio-top {
    0% {
        top: -10%;
        left: 10vw;
        scale: 2.8;
    }

    50% {
        top: -11%;
        left: 12vw;
        scale: 2.3;
    }

    100% {
        top: -10%;
        left: 10vw;
        scale: 2.8;
    }
}

@keyframes cerchio-bottom {

    0% {
        bottom: -40vh;
        right: 20%;
        scale: 2.4;
    }

    50% {
        bottom: -41vh;
        right: 21%;
        scale: 2.6;
    }

    100% {
        bottom: -40vh;
        right: 20%;
        scale: 2.4;
    }

}

@keyframes cerchio-top-hidden {
    0% {
        top: -10%;
        left: 10vw;
        scale: 2.8;
        border: 1px solid white;
        // box-shadow: 2px 2px 2px rgba(255, 255, 255, 0.082);
    }

    50% {
        top: -11%;
        left: 12vw;
        scale: 2.3;
        border: 1px solid rgba(255, 255, 255, 0.596);
        // box-shadow: 1px 1px 5px 1px rgba(255, 255, 255, 0.205);
    }

    100% {
        top: -10%;
        left: 10vw;
        scale: 2.8;
        border: 1px solid white;
        // box-shadow: 2px 2px 2px rgba(255, 255, 255, 0.059);
    }
}

@keyframes cerchio-bottom-hidden {

    0% {
        bottom: -40vh;
        right: 20%;
        scale: 2.4;
        border: 1px solid rgba(255, 255, 255, 0.651);
        // box-shadow: 2px 2px 2px rgba(255, 255, 255, 0.059);
    }

    50% {
        bottom: -41vh;
        right: 21%;
        scale: 2.6;
        border: 1px solid white;
        // box-shadow: 1px 1px 5px 1px rgba(255, 255, 255, 0.205);
    }

    100% {
        bottom: -40vh;
        right: 20%;
        scale: 2.4;
        border: 1px solid rgba(255, 255, 255, 0.651);
        // box-shadow: 2px 2px 2px rgba(255, 255, 255, 0.059);
    }
}

@keyframes logoanimation {
    0% {
        border-radius: 0%;
    }

    84% {
        border-radius: 0%;
    }

    88% {
        border-radius: 50%;
    }

    90% {
        border-radius: 50%;
    }

    94% {
        border-radius: 0%;
    }

    100% {
        border-radius: 0%;
    }
}